body {
 
  -webkit-animation: infinite-colour 80s infinite alternate;
  -moz-animation: infinite-colour 80s infinite alternate, fontbulger 5s infinite;
  animation: infinite-colour 80s infinite alternate, fontbulger 5s infinite;
  background:hsl(36,100%,50%);
  transition: all 0.3s ease-in-out;
}

@keyframes infinite-colour {
  0% {
    background:hsl(0,100%,50%);
  }
  10% {
    background:hsl(36,100%,50%);
  }
  20% {
    background:hsl(72,100%,50%);
  }
  30% {
    background:hsl(108,100%,50%);
  }
  40% {
    background:hsl(144,100%,50%);
  }
  50% {
    background:hsl(180,100%,50%);
  }
  60% {
    background:hsl(216,100%,50%);
  }
  70% {
    background:hsl(252,100%,50%);
  }
  80% {
    background:hsl(288,100%,50%);
  }
  90% {
    background:hsl(324,100%,50%);
  }
  100% {
    background:hsl(360,100%,50%);
  }
}
@-webkit-keyframes infinite-colour {
  0% {
    background:hsl(0,100%,50%);
  }
  10% {
    background:hsl(36,100%,50%);
  }
  20% {
    background:hsl(72,100%,50%);
  }
  30% {
    background:hsl(108,100%,50%);
  }
  40% {
    background:hsl(144,100%,50%);
  }
  50% {
    background:hsl(180,100%,50%);
  }
  60% {
    background:hsl(216,100%,50%);
  }
  70% {
    background:hsl(252,100%,50%);
  }
  80% {
    background:hsl(288,100%,50%);
  }
  90% {
    background:hsl(324,100%,50%);
  }
  100% {
    background:hsl(360,100%,50%);
  }
}


/*@keyframes infinite-colour {
  from { 
	  filter: hue-rotate(0deg);
	  -moz-filter: hue-rotate(0deg);
	  -webkit-filter: hue-rotate(0deg);
	}
  to   { 
	  filter: hue-rotate(1080deg);
	   -moz-filter: hue-rotate(1080deg);
	  -webkit-filter: hue-rotate(1080deg);
    }
}*/

@keyframes fontbulger {
  0%, 100% {
    font-size: 10px;
  }
  50% {
    font-size: 12px;
  }
}