canvas { display: block; text-align: center; padding-top: 110px; padding-left: 80px; width: 480px; height:auto; }
div.watch { display: block; background-image: url(watch.png); height: 720px; width: 647px; margin: 80px auto 40px;}
img.logo { display: block; height: 100px; margin:0 auto;}
img.logo-footer { display: block; margin:0 auto; }
img.fullscreen {display: block; width: 100%; height: auto; }
footer { display: block; border-top: 1px solid #ccc; text-align: center; font-family: helvetica, arial, sans-serif; width: 600px; margin: 60px auto;}
footer a { display: block; border: 1px solid #ccc; color: #ccc; text-decoration: none; margin: 30px auto; width: 200px; padding: 20px 0;}
footer a:hover { color: #000; border-color: #000; }
p {text-align: justify; font-size: 20px; margin: 30px 0; }